{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="{% static "img/icon/DO_0.png" %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <title>{{ dev_name}} Setup</title>
    {% block style %}{% endblock %}
</head>
<body style="background-color: #ffd204">
    <div style="margin: 3% auto; width: 95%;">
        <table width="100%">
            <tr>    <!-- 1st row -->
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Current Reading</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="background-color: #ffde00">
                                 <br><br>
                                 <div style="margin: 3% auto; width: 95%;">
                                     <span class="last_val" id="last_val"></span>
                                     <span style="font-size: 40px">mg/L</span>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Water Pressure</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="background-color: #ffde00">
                                 <div style="margin: 3% auto; width: 95%;">
                                     <h2 style="color: black">Enter water pressure value.</h2>
                                     <em>This parameter can be omitted if the water is less than 10 meters deep.</em>
                                     <br>
                                     <div style="color: black;">
                                         <input class="ec_text" id="input_pressure" style="width: 150px" type="text" value="101.325">
                                         <span class="p_temp">Kpa</span>
                                         <br>
                                         <button id="btn_pressure" class="btn_setup">Enter</button>
                                     </div>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
            </tr>
            <tr>    <!-- 2nd row -->
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Temperature</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #ffde00">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <h2 style="color: black ">Enter temperature value.</h2>
                                     <br>
                                     <h3 style="color: black"><em>If a temp probe is connected select ATC.</em></h3>
                                     <br>
                                     <div style="color: black;">
                                         <table>
                                             <tr>
                                                 <td>
                                                    <form id="radioForm">
                                                      <input type="radio" name="radioName" value="atc" checked> <span class="p_temp">ATC</span><br>
                                                      <input id="radio_mtc" type="radio" name="radioName" value="mtc" > <span class="p_temp">MTC</span><br>
                                                    </form>
                                                 </td>
                                                 <td width="10px"></td>
                                                 <td width="55px"><input id="input_temp"  class="ec_text" style="width: 110px" type="text" value="25"></td>
                                                 <td width="40px"><p class="ec_temp">℃</p></td>
                                                 <td width="5%"></td>
                                                 <td><button id="btn_temp" class="btn_setup">Set</button></td>
                                             </tr>
                                         </table>
                                     </div>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Calibrate to Atmosphere</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="background-color: #ffde00">
                                 <div style="margin: 3% auto; width: 95%;">
                                     <h2 style="color: black">Wet probe and let sit in the air for 2–3 minuets, then hit calibrate button.</h2>
                                     <br>
                                     <h4 style="color: #58585a"><em>Calibrate when readings stabilize.</em></h4>
                                     <br>
                                     <button id="cal_1" class="btn_setup">Calibrate</button>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
            </tr>
            <tr>    <!-- 3rd row -->
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Salinity</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="background-color: #ffde00">
                                 <div style="margin: 3% auto; width: 95%;">
                                     <h2 style="color: black">Enter salinity value.</h2>
                                     <h4>Salinity can be in microsiemens or ppt.</h4>
                                     <br>
                                     <div style="color: black;">
                                         <input id="input_sal" class="ec_text" style="width: 100px" type="text" value="2650">
                                         <span class="p_temp">ppt/μS</span>
                                         <br>
                                         <em>If the conductivity of your water is less than 2,500μS this command is irrelevant.</em>
                                         <br>
                                         <em>If the number entered is less then 36.00, it will be considered as PPT.</em>
                                         <br><br>
                                         <button id="btn_sal" class="btn_setup">Enter</button>
                                     </div>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Calibrate to Zero</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="background-color: #ffde00">
                                 <div style="margin: 3% auto; width: 95%;">
                                     <h2 style="color: black">Put probe in D.O. calibration solution.</h2>
                                     <em>This step is only necessary for high precision,</em><br>
                                     <em>low Dissolved Oxygen readings of less than 1mg/L.</em><br>
                                     <h3 style="color: #58585a">Calibrate when readings stabilize.</h3>
                                     <br>
                                     <button id="cal_0" class="btn_setup">Calibrate</button>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
            </tr>
            <tr>    <!-- 4th row -->
                <td>

                </td>
                <td>
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Reset Calibration</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="background-color: #ffde00">
                                 <div style="margin: 5% auto; width: 95%;">
                                    <h2 style="color: black;"> Pressing this button will remove all saved calibration</h2>
                                    <br>
                                    <button id="btn_cal_clear" class="btn_setup">Reset</button>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <button id="btn_back" class="btn_setup" style="position: fixed; right: 10px;bottom: 10px; width: 100px; height: 50px; font-size: xx-large">Exit</button>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/base.js" %}"></script>
<script src="{% static "js/Chart.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dashboard.js" %}"></script>
<script src="{% static "js/jquery-asProgress.js" %}"></script>
<script src="{% static "js/jquery-min.js" %}"></script>
<script src="{% static "js/pickerjs.js" %}"></script>
<script src="{% static "js/jquery-1.12.0.min.js" %}"></script>


<!--[if lte IE 8]>
    <script src="{% static "js/excanvas.js" %}"></script>
<![endif]-->

<script type="text/javascript">
$(document).ready(function() {
    var dev_id = '{{ dev_id }}';
    var rtd_exist = '{{rtd_exist}}';
    if (rtd_exist){
        $('#radio_mtc').attr('disabled', 'disabled');
    }

    $('#btn_back').click(function() {
        window.open('../..//main', '_self');
    });

    $('#cal_1').click(function() {
        if (confirm('Would you like to calibrate to atmosphere?')) {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__cal_1';
            $.get(url, function (data) {
                if (data == true){
                    alert('Calibration done.');
                }
                else{
                    alert('Calibration failed. Please try again later.');
                }
            }, "json");
        }
    });

    $('#cal_0').click(function() {
        if (confirm('Would you like to calibrate to zero?')) {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__cal_0';
            $.get(url, function (data) {
                if (data == true){
                    alert('Calibration done.');
                }
                else{
                    alert('Calibration failed. Please try again later.');
                }
            }, "json");
        }
    });

    $('#btn_cal_clear').click(function() {
        if (confirm('Would you like to clear calibration?')) {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__cal_clear';
            $.get(url, function (data) {
                if (data == true){
                    alert('Clearing done.');
                }
                else{
                    alert('Clearing failed. Please try again later.');
                }
            }, "json");
        }
    });


    $('#btn_pressure').click(function() {
        if (confirm('Would you like to update pressure now?')) {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__press__val-' + $('#input_pressure').val();
            $.get(url, function (data) {
                if (data == true) {
                    alert('Setting pressure done.');
                }
                else {
                    alert('Setting pressure failed. Please try again later.');
                }
            }, "json");
        }
    });

    $('#btn_sal').click(function() {
        if (confirm('Would you like to update salinity now?')) {
            var val = $('#input_sal').val();
            var url = '../../info/setvalue/dev_id-' + dev_id + '__sal';
            if (val >= 2500) {
                url = url + '__val-' + val;
            }
            else if (val < 36) {
                url = url + '-ppt__val-' + val;
            }
            else {
                alert("Please insert value below 36 or above 2500");
                return;
            }
            $.get(url, function (data) {
                if (data == true) {
                    alert('Setting Salinity done.');
                }
                else {
                    alert('Setting Salinity failed. Please try again later.');
                }
            }, "json");
        }
    });

    $('#btn_temp').click(function() {
        if (confirm('Would you like to update temperature now?')) {
            var temp_val = $('#input_temp').val();
            var temp_type = $('input[name=radioName]:checked', '#radioForm').val();

            var url = '../../info/setvalue/dev_id-' + dev_id + '__temp' + '__val-' + temp_val + '__type-' + temp_type;
            $.get(url, function (data) {
                if (data == true){
                    alert('Temperature is updated.');
                }
                else{
                    alert('Updating temperature failed. Please try again later.');
                }
            }, "json");
        }
    });

});

$(function() {
    window.setInterval('dashboard.getLastValue("{{ dev_id }}")', {{ time_refresh_net }});
});

$(function pageLoad() {
    dashboard.getLastValue('{{ dev_id }}');
    dashboard.set_mtc_temp('{{ dev_id }}');
});

</script>

</body>
</html>
