{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="{% static "img/icon/EC_0.png" %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <title>{{ dev_name}} Setup</title>
    {% block style %}{% endblock %}
</head>
<body style="background-color: #22b14c; font-weight: bold">
    <div style="margin: 3% auto; width: 95%;">
        <table width="100%">
            <tr>    <!-- 1st row -->
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Current Reading</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #0b9444">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <table style="margin-inside: 20px;">
                                         <tr>
                                             <td width="60%" align="right">
                                                 <span style="font-size: 100px; color: black" id="last_val_0"></span>
                                                 <br><br>
                                             </td>
                                             <td width="10px"></td>
                                             <td width="150px"><span style="font-size: 20px">µS</span></td>
                                         </tr>
                                         <tr>
                                             <td align="right">
                                                 <span style="font-size: 80px;color: black" id="last_val_1"></span>
                                                 <br>
                                             </td>
                                             <td width="10px"></td>
                                             <td><span style="font-size: 20px">TDS</span></td>
                                         </tr>
                                         <tr>
                                             <td align="right">
                                                 <span style="font-size: 40px; color: black" id="last_val_2"></span>
                                             </td>
                                             <td width="10px"></td>
                                             <td><span style="font-size: 20px">Salinity</span></td>
                                         </tr>
                                     </table>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Calibrate to Dry</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #0b9444">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <h2 style="color: white">Do not put the probe in any liquid</h2>
                                     <br>
                                     <h3 style="color: black">Calibrate the Conductivity circuit for a dry condition.</h3>
                                     <br>
                                     <button id="cal_dry" class="btn_setup">Calibrate</button>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
            </tr>
            <tr>    <!-- 2nd row -->
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Temperature</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #0b9444">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <h2 style="color: black ">Enter temperature value.</h2>
                                     <br>
                                     <h3 style="color: white"><em>If a temp probe is connected select ATC.</em></h3>
                                     <br>
                                     <div style="color: black;">
                                         <table>
                                             <tr>
                                                 <td>
                                                    <form id="radioForm">
                                                      <input type="radio" name="radioName" value="atc" checked> <span class="p_temp">ATC</span><br>
                                                      <input id="radio_mtc" type="radio" name="radioName" value="mtc" > <span class="p_temp">MTC</span><br>
                                                    </form>
                                                 </td>
                                                 <td width="10px"></td>
                                                 <td width="55px"><input id="input_temp"  class="ec_text" style="width: 110px" type="text" value="25"></td>
                                                 <td width="40px"><p class="ec_temp">℃</p></td>
                                                 <td width="5%"></td>
                                                 <td><button id="btn_temp" class="btn_setup">Set</button></td>
                                             </tr>
                                         </table>
                                     </div>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>

                </td>

                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Calibrate Low</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #0b9444">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <h2 style="color: white">Enter a low value.</h2>
                                     <br>
                                     <h3 style="color: black">Any Conductivity value expressed in microsiemens</h3>
                                     <br>
                                     <table>
                                         <td>
                                             <td><input id="input_cal_low" class="ec_text" style="width: 120px" type="text" value="1,413"></td>
                                             <td width="10px"></td>
                                             <td><p class="ec_temp">µS</p></td>
                                             <td width="50%"></td>
                                             <td align="right"><button id="cal_low" class="btn_setup">Calibrate</button></td>
                                         </tr>
                                     </table>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
            </tr>
            <tr>    <!-- 3rd row -->
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Probe Type</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #0b9444">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <h2 style="color: white">Enter Probe K value.</h2>
                                     <br>
                                     <table width="100%">
                                         <tr>
                                             <td><input id="input_probe_k" class="ec_text" style="width: 80px" type="text" value="1.0"></td>
                                             <td align="right"><button id="btn_probe" class="btn_setup">Enter</button></td>
                                         </tr>
                                     </table>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Calibrate High</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #0b9444">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <h2 style="color: white">Enter a high value.</h2>
                                     <br>
                                     <h3 style="color: black">Any Conductivity value expressed in microsiemens</h3>
                                     <br>
                                     <table>
                                         <tr>
                                             <td><input id="input_cal_high" class="ec_text" style="width: 120px" type="text" value="12,880"></td>
                                             <td width="10px"></td>
                                             <td><p class="ec_temp">µS</p></td>
                                             <td width="50%"></td>
                                             <td align="right"><button id="cal_high" class="btn_setup">Calibrate</button></td>
                                         </tr>
                                     </table>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
            </tr>
            <tr>        <!-- 4th row -->
                <td></td>
                <td>
                    <div style="margin: 3% auto; width: 95%;">
                        <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Reset Calibration</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="background-color: #0b9444">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <h2 style="color: black;"> Pressing this button will remove all saved calibration</h2>
                                     <br>
                                     <button id="btn_cal_clear" class="btn_setup">Reset</button>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <button id="btn_back" class="btn_setup" style="position: fixed; right: 10px;bottom: 10px; width: 100px; height: 50px; font-size: xx-large">Exit</button>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/base.js" %}"></script>
<script src="{% static "js/Chart.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dashboard.js" %}"></script>
<script src="{% static "js/jquery-asProgress.js" %}"></script>
<script src="{% static "js/jquery-min.js" %}"></script>
<script src="{% static "js/pickerjs.js" %}"></script>
<script src="{% static "js/jquery-1.12.0.min.js" %}"></script>


<!--[if lte IE 8]>
    <script src="{% static "js/excanvas.js" %}"></script>
<![endif]-->

<script type="text/javascript">
$(document).ready(function() {
    var dev_id = '{{ dev_id }}';
    var rtd_exist = '{{rtd_exist}}';
    if (rtd_exist){
        $('#radio_mtc').attr('disabled', 'disabled');
    }

    $('#btn_back').click(function() {
        window.open('../..//main', '_self');
    });

    $('#btn_probe').click(function() {
        var val = $('#input_probe_k').val();
        if (val < 0.1 || val > 10){
            alert('Please insert K value ranges from 0.1 to 10');
            return;
        }
        if (confirm('Would you like to set probe type?')) {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__probe__val-' + val.toString();
            $.get(url, function (data) {
                if (data == true) {
                    alert('Setting Probe type done.');
                }
                else {
                    alert('Setting Probe type failed. Please try again later.');
                }
            }, "json");
        }
    });

    $('#btn_temp').click(function() {
        var temp_val = $('#input_temp').val();
        var temp_type = $('input[name=radioName]:checked', '#radioForm').val();
        if (confirm('Would you like to update temperature now?')) {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__temp' + '__val-' + temp_val + '__type-' + temp_type;
            $.get(url, function (data) {
                if (data == true) {
                    alert('Setting Temperature done.');
                }
                else {
                    alert('Setting Temperature failed. Please try again later.');
                }
            }, "json");
        }
    });

    $('#cal_low').click(function() {
        if (confirm('Would you like to calibrate low value?')) {
            var val = $('#input_cal_low').val();
            var url = '../../info/setvalue/dev_id-' + dev_id + '__cal_low__val-' + val.replace(/\,/g, '');
            $.get(url, function (data) {
                if (data == true) {
                    alert('Calibrating done.');
                }
                else {
                    alert('Calibrating failed. Please try again later.');
                }
            }, "json");
        }
    });

    $('#cal_high').click(function() {
        if (confirm('Would you like to calibrate high value?')) {
            var val = $('#input_cal_high').val();
            var url = '../../info/setvalue/dev_id-' + dev_id + '__cal_high__val-' + val.replace(/\,/g, '');
            $.get(url, function (data) {
                if (data == true) {
                    alert('Calibrating done.');
                }
                else {
                    alert('Calibrating failed. Please try again later.');
                }
            }, "json");
        }
    });

    $('#cal_dry').click(function() {
        if (confirm('Would you like to calibrate to dry?')) {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__cal_dry';
            $.get(url, function (data) {
                if (data == true) {
                    alert('Calibration done.');
                }
                else {
                    alert('Calibration failed. Please try again later.');
                }
            }, "json");
        }
    });

    $('#btn_cal_clear').click(function() {
        if (confirm('Would you like to clear calibration?')) {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__cal_clear';
            $.get(url, function (data) {
                if (data == true) {
                    alert('Clearing done.');
                }
                else {
                    alert('Clearing failed. Please try again later.');
                }
            }, "json");
        }
    });


});

$(function() {
    window.setInterval('dashboard.getLastValue("{{ dev_id }}")', {{ time_refresh_net }});
});

$(function pageLoad() {
    dashboard.getLastValue('{{ dev_id }}');
    dashboard.set_mtc_temp('{{ dev_id }}');
});

</script>

</body>
</html>
