{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <title>Atlas Scientific</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery.datetimepicker.css" %}" rel="stylesheet">
    <link href="{% static "css/ion.rangeSlider.css" %}" rel="stylesheet">
    <link href="{% static "css/ion.rangeSlider.skinModern.css" %}" rel="stylesheet">
    <link href="{% static "css/rangeslider.css" %}" rel="stylesheet">
    {% block style %}{% endblock %}
</head>
<body style="background-color: #c91f40">
{% block content %}

<div style="width:95%;margin-left: 3%;margin-right: 3%">
    <table width="100%">
        <tr>
            <td width="43%" style="vertical-align: top;">
                <!-- location part -->
                <div style="margin-left: 10pt; vertical-align: top">
                    <br>
                    <h4 style="color: black;">Location</h4><br>
                    <h1 style="">
                        <span id="get-location1">
                            <input type="text" id="txt_loc" value="" class="title_loc"/>
                        </span>
                    </h1>
                </div>
                <!-- Date and Time -->
                <div style="margin-left: 10pt;">
                    <h4 style="">Date and Time</h4><br>
                    <input type="text" value="" id="datetimepicker" class="title_datetime"/>
                </div>
                <br>
                <!-- device list part -->
                <div>
                    <div style="width: 100%;">
                        <div class="widget widget-table action-table">
                            <div class="widget-header">
                                <i class="fa fa-hdd-o" style="margin-left: 3%"></i>
                                <h3>Atlas Scientific Sensors</h3>
                                <i class="fa fa-minus"></i>
                                <div id="refresh-df">
                                </div>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <table id="get_disk" class="table table-hover table-condensed" >
                                </table>
                            </div>
                             <!-- /widget-content -->
                        </div>
                         <!-- /widget -->
                    </div>
                </div>
                <br><br>
                <div>
                    <div style="width: 100%;">
                        <div class="widget widget-table action-table">
                            <div class="widget-header">
                                <i class="fa fa-warning" style="margin-left: 3%"></i>
                                <h3>e-mail Notification</h3>
                                <i class="fa fa-minus"></i>
                                <div id="refresh-df">
                                </div>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content" style="background-color: #404142; color: #FFFFFF">
                                <div style="text-align:left; margin: 3% auto; width: 95%;vertical-align: top">
                                    <table width="50%">
                                        <tr>
                                            <td width="60%">
                                                <b>Remind in :</b>
                                            </td>
                                            <td width="20%" style="vertical-align: top">
                                                <input type="text" id="alarm_int" value="30" style="width:50px">
                                            </td>
                                            <td width="5%">
                                                <b>min</b>
                                            </td>
                                            <td width="5%">

                                            </td>
                                            <td width="5%">
                                                <button id="btn_set_alarm_int" class="btn">Set</button>
                                            </td>
                                        </tr>
                                    </table>
                                    <br>
                                    <table width="100%">
                                        <tr>
                                            <td width="20%">
                                                <b>e-mail address:</b>
                                            </td>
                                            <td width="40%" style="vertical-align: top">
                                                <input type="text" id="alarm_email" value="">
                                            </td>
                                            <td>
                                                <button id="btn_set_alarm_email" class="btn">Set</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                             <!-- /widget-content -->
                        </div>
                         <!-- /widget -->
                    </div>
                </div>
            </td>
            <td width="57%" background="/static/img/iniac.png" style="background-repeat: no-repeat;background-position: top right">
                <div style="margin-right: 15%;margin-top: 140pt; margin-left: 5px">
                    <!--<div style="vertical-align: bottom; margin-left: 10%;">-->
                        <!--<h3>-->
                            <!--<span>Display-->
                            <!--<input id="cnt_chart" type="text" value="20"-->
                                   <!--style="width:50px;font-size: 18px; font-weight: bold; text-align: center"/> samples-->
                            <!--</span>-->
                        <!--</h3>-->
                    <!--</div>-->
                    <div style="margin-left: 1%;">
                        <div class="widget">
                            <div class="widget-header">
                                <i class="fa fa-exchange" style="margin-left: 3%"></i>
                                <h3><span>Sample Rate     </span><span id="title_rate"></span></h3>

                                <i class="fa fa-minus"></i>
                            </div>
                            <!-- /widget-header -->
                            <div  style="background: white"  class="widget-content">
                                <!--<input type="range" id="slider_counter" value="20" data-rangeslider data-orientation="vertical" max="30"/>-->
                                <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 20px; width: 100%;" align="center">
                                    <p></p>
                                    <h3 id="chart_caption" class="span_chart">Select sensor to display</h3>
                                    <canvas id="trfChart" width="600px" height="400px" class=""></canvas>
                                    <div id="refresh-ip">
                                    </div>
                                </div>
                                <div style="margin: 3% auto; width: 95%">
                                    <table width="100%">
                                        <tr>
                                            <td width="23%" style="font-size: large">
                                                <b>Readings Every</b>
                                            </td>
                                            <td width="77%">
                                                <input type="text" id="slider_rate" value="" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /widget-content -->
                        </div>
                    </div>
                </div>
                <div style="width:100%; margin-right: 20px">
                    <table width="100%">
                        <tr>
                            <td width="50%" style="vertical-align: top">
                                <div style="margin-left: 10px; margin-right: 10px; margin-top: 10px">
                                    <div class="widget widget-table action-table">
                                        <div class="widget-header">
                                            <i class="fa fa-dashboard" style="margin-left: 3%"></i>
                                            <h3 style="font-size: medium">General Info</h3><i class="fa fa-minus"></i>
                                            <div id="refresh-os">
                                            </div>
                                        </div>
                                        <!-- /widget-header -->
                                        <div class="widget-content" style="background-color: #404142; color: #FFFFFF">
                                            <div style="text-align:left; margin: 3% auto; width: 95%;vertical-align: top">
                                                <table width="100%">
                                                    <tr>
                                                        <td width="50%">
                                                            <b>OS : </b> <span class="" id="get-osname"></span><br>
                                                            <b>Uptime : </b> <span class="" id="get-uptime"></span><br>
                                                            <b>Hostname : </b> <span class="" id="get-hostname"></span><br>
                                                            <b>Kernel : </b> <span class="" id="get-kernel"></span><br>
                                                        </td>
                                                        <td width="50%" style="vertical-align: top">
                                                            <b>Iniac Software </b> <span class="" id="get-version">  v1.0</span><br>
                                                            <b>Local IP: </b> <span class="" id="get-localip"></span><br>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <b>CPU(s) : </b> <span class="" id="get-cpucount"></span> x <span class="" id="get-cputype"></span><br>
                                                <b>Location : </b> <span class="" id="get-location2"></span><br>
                                            </div>
                                        </div>
                                    <!-- /widget-content -->
                                    </div>
                                </div>
                            </td>
                            <td width="35%" style="vertical-align: top">
                                <div style="margin-top: 10px; vertical-align: top">
                                    <div class="widget widget-nopad">
                                        <div class="widget-header">
                                            <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                            <h3>Data Logger</h3><i class="fa fa-minus"></i>
                                            <div id="refresh-ram">
                                            </div>
                                        </div>
                                        <!-- /widget-header -->
                                        <div class="widget-content" style="color: white;background-color: #414042">
                                            <div style="margin: 3% auto; width: 95%;">
                                                <h4>Number of readings stored : <span id="mem_size"></span></h4>
                                                <table width="100%"><tr><th align="left">0</th><th align="right">10M</th></tr></table>
                                                <div id="progressBar" style="vertical-align: middle"><div></div></div>
                                                <br>
                                                <div align="center">
                                                   <button id="clear_memory" class="btn">Clear Memory</button>
                                                   <button id="export_csv" class="btn">Export Excel File</button>
                                                </div>
                                            </div>
                                        </div>
                                         <!-- /widget-content -->
                                    </div>
                                </div>
                            </td>
                            <td width="15%" style="vertical-align: bottom">
                                <input type="button" id="btn_factory_rst" value="Factory Reset"
                                       style="background-color: yellow; font-weight: bold">

                                </input>
                            </td>
                        </tr>
                    </table>
                </div>
                <div align="right">
                    <img src="{% static 'img/logo.png' %}" style="width: 400px">
                </div>
            </td>

        </tr>
    </table>
</div>
<!-- /main -->

{% endblock %}

{% block script %}
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/base.js" %}"></script>
<script src="{% static "js/Chart.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dashboard.js" %}"></script>
<script src="{% static "js/jquery-asProgress.js" %}"></script>
<script src="{% static "js/jquery-min.js" %}"></script>
<script src="{% static "js/pickerjs.js" %}"></script>
<script src="{% static "js/jquery-1.12.0.min.js" %}"></script>
<script src="{% static "js/jquery.datetimepicker.full.js" %}"></script>
<script src="{% static "js/ion.rangeSlider.min.js" %}"></script>
<script src="{% static "js/rangeslider.min.js" %}"></script>
<script src="{% static "js/rangeslider.js" %}"></script>

<!--[if lte IE 8]>
    <script src="{% static "js/excanvas.js" %}"></script>
<![endif]-->
<script type="text/javascript">

    var update_rate = 30;

    // change the width of Chart depends on the window size
    var w = window.innerWidth;
    var canvas = document.getElementsByTagName('canvas')[0];
    if (w < 400){
        canvas.width = 300;
        canvas.height = 200;
    }
    else {
        if (w < 800) {
            canvas.width = 400;
            canvas.height = 220;
        }
        else{
            if (w <= 1600) {
                canvas.width = 700;
                canvas.height = 300;
            }
            else{
                canvas.width = 850;
                canvas.height = 400;
            }
        }
    }


    var trf_ctx = $("#trfChart").get(0).getContext("2d");
        var trfChart = new Chart(trf_ctx);
        function traffic_usage(){
//            var cnt = $('#cnt_chart').val();
            var cnt = '20';
            if (!$.isNumeric(cnt)){
                cnt = '20';
            }

            $.getJSON('/info/gettraffic/' + cnt, function(data) {
                // get check status
                var check_list = new Array();
                for (k = 0; k < data.length; k++) {
                    check_list[k] = $('input:checkbox[id="check_' + k.toString()+'"]').is(':checked');
                }

                var dev_info_list = $(".dev_type").map(function(){
                    return this.innerHTML;
                }).get();


                $('#chart_caption').text('Select sensor to display');

                // make JSON chart data
                var jsonObj = [];
                jsonObj['labels'] = data[0];
                jsonObj['datasets'] = [];

                for (i = 1; i < data.length; i++ ){
                    if (check_list[i-1]){           // display chart when checked

                        var colorset;
                        switch (dev_info[i-1][0]) {
                            case 'p' :
                                colorset = "rgba(247,70,74,"; break;
                            case 'D' :
                                colorset = "rgba(255,210,0,"; break;
                            case 'O' :
                                colorset = "rgba(0,192,243,"; break;
                            case 'E' :
                                colorset = "rgba(40,144,59,"; break;
                            case 'F' :
                                colorset = "rgba(127,196,211,";break;
                            case 'R' :
                                colorset = "rgba(117,110,110,";break;
                            default:break;
                        }

                        var tmp_fillcolor = colorset + "0.3)";

                        jsonObj.datasets.push({
                            label                : dev_info[i-1],
                            fillColor            : tmp_fillcolor,
                            strokeColor          : colorset + "1)",
                            pointColor           : colorset + "1)",
                            pointStrokeColor     : "#fff",
                            pointHighlightFill   : "#fff",
                            pointHighlightStroke : colorset + "1)",
                            data : data[i]

                        });

                        $('#chart_caption').text('');
                    }
                }

                var options = {
                    animation : false,
                    pointDotRadius : 3,
                    showTooltips : true,
                    responsive: false,
                    scaleLabel : "<%=value%>"
                };

                trfChart.Line(jsonObj, options);

            });

            // change the list of chart
            $("#refresh-ip").empty();

            var tmp_str = '<table><tr>';

            for(var i = 0 ; i < dev_info.length; i ++){

                var check_list = new Array();
                for (k = 0; k < dev_info.length; k++) {
                    check_list[k] = $('input:checkbox[id="check_' + k.toString()+'"]').is(':checked');
                }

                var colorset;
                var disp_text = dev_name[i];
                var tt;
                switch (disp_text[0]) {
                    case 'p' :      // pH
                        colorset = "#F05133"; break;
                    case 'D' :      // DO
                        colorset = "#FFD200";
                        tt = disp_text.replace('DO', 'D.O.');
                        disp_text = tt; break;
                    case 'O' :      // OR
                        colorset = "#00C0F3";
                        break;
                    case 'E' :      // EC
                        colorset = "#28903B";
                        tt = disp_text.replace("EC", "E.C.");
                        disp_text = tt;
                        break;
                    case 'F' :      // FLO
                        colorset = "#7AC4D3";
                        tt = disp_text.replace("FLO", "Flow");
                        disp_text = tt;
                        break;
                    case 'R' :      // RTD
                        colorset = "#756E6E"; break;
                    default:break;
                }

                if (check_list[i]){
                    tmp_str = tmp_str + '<td><img src="../static/img/icon/' + dev_info[i] + '_0.png" width="20px"></td>' +
                                '<td style="width:20px;background:' + colorset + '" ></td>' +
                                '<td style="color:black">' + disp_text + '</td><td width="20px"></td>';
                }
                else{
                    tmp_str = tmp_str + '<td><img src="../static/img/icon/' + dev_info[i] + '_2.png" width="20px"></td>' +
                                '<td style="width:20px;background:#EAE9E0"></td>' +
                                '<td style="color:#414042">' + disp_text + '</td><td width="20px"></td>';
                }
            }
            $("#refresh-ip").append(tmp_str + '</tr></table>');

        }


$(document).ready(function() {
    $('#clear_memory').click(function() {
        if (confirm('All data will be removed. Are you sure?')) {
            $.get('/info/clear_all/', function (data) {
                if (data){
                    alert("Clearing done. Please refresh page.");
                }
                else{
                    alert("Clearing failed.");
                }
            }, "json");
        }
    });

    $('#btn_set_alarm_int').click(function () {

        var val = $('#alarm_int').val();

        if (!$.isNumeric(val)){
            alert("Please input valid number");
        }
        else{
            $.get('/info/set_alarm_int/' + val, function (data) {
                if (data){
                    alert("Setting done.");
                }
                else{
                    alert("Setting failed.");
                }
            }, "json");
        }
    });

    function isEmail(email) {
        var regex = /^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
        return regex.test(email);

    }

    $('#btn_set_alarm_email').click(function () {

        var val = $('#alarm_email').val();

        if (isEmail(val) == false){
            alert("Please input valid email address");
        }
        else{
            var tmp = val.toString();
            // in url, '@' is not recognized, so replace it to '-'
            var text = tmp.replace('@', '-');
            $.get('/info/set_alarm_email/' + text, function (data) {
                if (data){
                    alert("Setting done.");
                }
                else{
                    alert("Setting failed.");
                }
            }, "json");
        }
    });

    $('#export_csv').click(function() {
        window.open('/info/export', '_blank');
    });

    $('#set_rate').click(function() {
        var str_val = $('input[name="open"]').val();
        var str_list = str_val.split(':');
        var val = str_list[0]*3600 + str_list[1]*60 + str_list[2]*1;
        if (val > 0){
            var url = '/info/setrate/' + val.toString();
            $.get(url, function (data) {
                if (data == 'true'){
                    $('#title_rate').html(str_val);
                }
                else{
                }
            }, "json");
        }
        else{
            alert("Please set value greater than 0");
        }

    });

});

    $('#btn_factory_rst').click(function() {
        if (confirm('Would you like to reset all connected devices?')) {
            alert('All devices are reset. Raspberry pi is rebooting now...');
            var url = '/info/setvalue/dev_id-all__factoryrst';
            $.get(url, function (data) {
            }, "json");
        }
    });

    $('#txt_loc').blur(function(){
        var new_val = btoa($('#txt_loc').val());
        // replace '=' to '_'
        var req = new_val.replace(/\=/g,'_');
        if($.trim(new_val != '')){
            // encode location data to base64 before uploading
            var url = '/info/setlocation/' + req;
            $.get(url, function (data) {
                if (data == 'true'){
                    $('#get-location2').text($('#txt_loc').val());
                }
                else{
                    alert("Failed to save your location, please try again later.")
                }
            }, "json");
        }
        else{
            alert("Please insert valid location");
        }

});

    $('#datetimepicker').blur(function(){
        var new_val = btoa($('#datetimepicker').val());
        // replace '=' to '_'
        var req = new_val.replace(/\=/g,'_');
        var url = '../../info/setvalue/location-' + req;
            $.get(url, function (data) {
                
            }, "json");
    });

$(function pageLoad() {
    dashboard.getDisk();

    dashboard.getProc();
    traffic_usage();
    dashboard.getOSname();
    dashboard.getUptime();
    dashboard.getHostname();
    dashboard.getKernel();
    dashboard.getLocation();
    dashboard.getCPUcount();
    dashboard.getCPUtype();
    dashboard.getNetstat();
    dashboard.setDateTime();
    dashboard.getLocalIP();
    dashboard.getAlarmInfo();
//    $('#check_0').attr("checked", true);

    var $rate = $("#slider_rate");
    $rate.ionRangeSlider({
        type: "single",
        values: ["00:05", "00:10", "00:15", "00:20", "00:30", "01:00", "01:30", "02:00", "05:00", "10:00", "15:00", "20:00", "30:00"],
        grid: true,
        force_edges: true,

        onFinish: function (data) {
            var val = data.from_value;
            var tmp = val.split(':');
            var rate = parseInt(tmp[0]) * 60 + parseInt(tmp[1]);
            var url = '/info/setrate/' + rate.toString();
            $.get(url, function (data) {
                if (data == 'true'){
                    $('#title_rate').html(val);
                }
                else{
                }
            }, "json");
        }
    });

});

    $(function() {
        window.setInterval('dashboard.getProc()', {{ time_refresh_long }});
        window.setInterval('traffic_usage()', {{ time_refresh_net }});
        window.setInterval('dashboard.getUptime()', {{ time_refresh_long }});
        window.setInterval('dashboard.getDisk()', {{ time_refresh_net }});
        window.setInterval('dashboard.setDateTime()', {{ time_refresh }});
        window.setInterval('dashboard.getNetstat()', {{ time_refresh_long }});
        window.setInterval('dashboard.getAlarmInfo()', {{ time_refresh_long }});
    });

</script>


{% endblock %}

</body>
</html>
