{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="{% static "img/icon/OR_0.png" %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <title>{{ dev_name}} Setup</title>
    {% block style %}{% endblock %}
</head>
<body style="background-color: #16c1f3">
    <div style="margin: 3% auto; width: 95%;">
        <table width="100%">
            <tr>
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Current Reading</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #007dc6">
                                 <br>
                                 <div style="margin: 5% auto; width: 95%;">
                                     <span class="last_val" id="last_val"></span>
                                     <span style="font-size: 40px">mv</span>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Calibrate to Solution</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #007dc6">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <h2 style="color: white">Place probe in ORP calibration solution and let sit for 1–2 minutes</h2>
                                     <br>
                                     <h3 style="color: black">Calibrate when readings stabilize.</h3>
                                     <br>
                                     <div style="color: black;">
                                         <input id="input_cal" class="ec_text" style="width: 80px; height: 50px;" type="text" value="225">
                                         <span class="p_temp" style="color: white;">mv</span>
                                         <br>
                                         <button id="cal_0" class="btn_setup">Calibrate</button>
                                     </div>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>

                <!--
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Calibrate to Solution</h3><i class="fa fa-minus"></i>
                             </div>
                             <div class="widget-content" style="color: white;background-color: #007dc6">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <h2 style="color: white">Place probe in ORP solution and let sit for 1–2 minutes</h2>
                                     <br>
                                     <h3 style="color: black">Calibrate when readings stabilize.</h3>
                                     <br>
                                     <button id="cal_clear" class="btn_setup">Calibrate</button>
                                 </div>
                             </div>

                         </div>
                    </div>
                </td>
                -->
            </tr>
        </table>
    </div>

    <button id="btn_back" class="btn_setup" style="position: fixed; right: 10px;bottom: 10px; width: 100px; height: 50px; font-size: xx-large">Exit</button>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/base.js" %}"></script>
<script src="{% static "js/Chart.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dashboard.js" %}"></script>
<script src="{% static "js/jquery-asProgress.js" %}"></script>
<script src="{% static "js/jquery-min.js" %}"></script>
<script src="{% static "js/pickerjs.js" %}"></script>
<script src="{% static "js/jquery-1.12.0.min.js" %}"></script>


<!--[if lte IE 8]>
    <script src="{% static "js/excanvas.js" %}"></script>
<![endif]-->

<script type="text/javascript">
$(document).ready(function() {

    var dev_id = '{{ dev_id }}';
    var rtd_exist = '{{rtd_exist}}';
    if (rtd_exist){
        $('#radio_mtc').attr('disabled', 'disabled');
    }

    $('#btn_back').click(function() {
        window.open('../..//main', '_self');
    });
    $('#cal_0').click(function() {
        if (confirm('Would you like to calibrate to solution?')) {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__cal__val-' + $('#input_cal').val();
            $.get(url, function (data) {
                if (data == true){
                    alert('Calibration done.');
                }
                else{
                    alert('Calibration failed. Please try again later.');
                }
            }, "json");
        }
    });

    $('#cal_clear').click(function() {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__cal_clear';
            $.get(url, function (data) {

            }, "json");
    });

});


$(function() {
    window.setInterval('dashboard.getLastValue("{{ dev_id }}")', {{ time_refresh_net }});
});

$(function pageLoad() {
    dashboard.getLastValue('{{ dev_id }}');
});


</script>

</body>
</html>
