{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="{% static "img/icon/pH_0.png" %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <title>{{ dev_name}} Setup</title>
    {% block style %}{% endblock %}
</head>
<body style="background-color: #f05033">
    <div style="margin: 3% auto; width: 95%;">
        <table width="100%">
            <tr>    <!-- 1st row -->
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Current Reading</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #ee3024">
                                 <br>
                                 <div style="margin: 5% auto; width: 95%;">
                                     <span class="last_val" id="last_val"></span>
                                     <span style="font-size: 40px">pH</span>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>

                </td>
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Calibrate to pH 4.00</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #ee3024">
                                 <div style="margin: 3% auto; width: 95%;">
                                     <h2 style="color: black">Place probe in pH 4.00 solution and let sit for 2–3 minutes</h2>
                                     <br>
                                     <h3><em>Calibrate when readings stabilize.</em></h3>
                                     <br>
                                     <button id="cal_4" class="btn_setup">Calibrate</button>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
            </tr>
            <tr>    <!-- 2nd row -->
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Temperature</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #ee3024">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <h2 style="color: black ">Enter temperature value.</h2>
                                     <br>
                                     <h3 style="color: white"><em>If a temp probe is connected select ATC.</em></h3>
                                     <br>
                                     <div style="color: black;">
                                         <table>
                                             <tr>
                                                 <td>
                                                    <form id="radioForm">
                                                      <input id="radio_atc" type="radio" name="radioName" value="atc" checked> <span class="p_temp">ATC</span><br>
                                                      <input id="radio_mtc" type="radio" name="radioName" value="mtc" > <span class="p_temp">MTC</span><br>
                                                    </form>
                                                 </td>
                                                 <td width="10px"></td>
                                                 <td width="55px"><input id="input_temp"  class="ec_text" style="width: 110px" type="text" value="25"></td>
                                                 <td width="40px"><p class="ec_temp">℃</p></td>
                                                 <td width="20%"></td>
                                                 <td><button id="btn_temp" class="btn_setup">Set</button></td>
                                             </tr>
                                         </table>
                                     </div>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Calibrate to pH 10.00</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #ee3024">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <h2 style="color: black">Place probe in pH 10.00 solution and let sit for 2–3 minutes</h2>
                                     <br>
                                     <h3><em>Calibrate when readings stabilize.</em></h3>
                                     <br>
                                     <button id="cal_10" class="btn_setup">Calibrate</button>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
            </tr>
            <tr>    <!-- 3rd row -->
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Calibrate to pH 7.00</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #ee3024">
                                 <div style="margin: 3% auto; width: 95%;">
                                     <h2 style="color: black">Place probe in pH 7.00 solution and let sit for 2–3 minutes</h2>
                                     <br>
                                     <h3><em>Calibrate when readings stabilize.</em></h3>
                                     <br>
                                     <button id="cal_7" class="btn_setup">Calibrate</button>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Reset Calibration</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="background-color: #ee3024">
                                 <div style="margin: 5% auto; width: 95%;">
                                    <h2 style="color: black;"> Pressing this button will remove all saved calibration</h2>
                                    <br>
                                    <button id="btn_cal_clear" class="btn_setup">Reset</button>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <button id="btn_back" class="btn_setup" style="position: fixed; right: 10px;bottom: 10px; width: 100px; height: 50px; font-size: xx-large">Exit</button>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/base.js" %}"></script>
<script src="{% static "js/Chart.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dashboard.js" %}"></script>
<script src="{% static "js/jquery-asProgress.js" %}"></script>
<script src="{% static "js/jquery-min.js" %}"></script>
<script src="{% static "js/pickerjs.js" %}"></script>
<script src="{% static "js/jquery-1.12.0.min.js" %}"></script>


<!--[if lte IE 8]>
    <script src="{% static "js/excanvas.js" %}"></script>
<![endif]-->

<script type="text/javascript">
$(document).ready(function() {

    var dev_id = '{{ dev_id }}';
    var rtd_exist = '{{rtd_exist}}';
    if (rtd_exist){
        $('#radio_mtc').attr('disabled', 'disabled');
    }

    $('#btn_back').click(function() {
        window.open('../../main', '_self');
    });

    $('#cal_4').click(function() {
        if (confirm('Would you like to calibrate to pH 4.00?')) {
            set_calibration('cal_low')
        }
    });

    $('#cal_7').click(function() {
        if (confirm('Would you like to calibrate to pH 7.00?')) {
            set_calibration('cal_mid')
        }
    });

    $('#cal_10').click(function() {
        if (confirm('Would you like to calibrate to pH 10.00?')) {
            set_calibration('cal_high')
        }
    });

    $('#btn_cal_clear').click(function() {
        if (confirm('Would you like to clear calibration?')) {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__cal_clear';
            $.get(url, function (data) {
                if (data == true){
                    alert('Clearing done.');
                }
                else{
                    alert('Clearing failed.');
                }
            }, "json");
        }
    });

    function set_calibration(cal_type) {
        var url = '../../info/setvalue/dev_id-' + dev_id + '__' + cal_type + get_temp_request();
        $.get(url, function (data) {
            if (data == true){
                    alert('Calibration done.');
                }
                else{
                    alert('Calibration failed.');
                }
        }, "json");
    }

    $('#btn_temp').click(function() {
        if (confirm('Would you like to update temperature now?')) {
            var temp_val = $('#input_temp').val();2
            var temp_type = $('input[name=radioName]:checked', '#radioForm').val();
            var url = '../../info/setvalue/dev_id-' + dev_id + '__temp' + '__val-' + temp_val + '__type-' + temp_type;
            $.get(url, function (data) {
                if (data == true){
                    alert('Temperature is updated.');
                }
                else{
                    alert('Updating temperature failed. Please try again later.');
                }
            }, "json");
        }
    });

    function get_temp_request(){
        var temp_val = $('#input_temp').val();
        var temp_type = $('input[name=radioName]:checked', '#radioForm').val();
        return '__temptype-' + temp_type + '__temp-' + temp_val;
    }

});

$(function() {
    window.setInterval('dashboard.getLastValue("{{ dev_id }}")', {{ time_refresh_net }});
});

$(function pageLoad() {
    dashboard.getLastValue('{{ dev_id }}');
    dashboard.set_mtc_temp('{{ dev_id }}');
});

</script>


</body>
</html>
