{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="{% static "img/icon/RTD_0.png" %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <title>{{ dev_name}} Setup</title>
    {% block style %}{% endblock %}
</head>
<body style="background-color: #bec0c2">
    <div style="margin: 3% auto; width: 95%;">
        <table width="100%">
            <tr>

                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Current Reading</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #6d6e71">
                                 <br>
                                 <div style="margin: 5% auto; width: 95%;">
                                     <span class="last_val" id="last_val"></span>
                                     <span style="font-size: 40px">℃</span>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>
                <td width="50%" style="vertical-align: top">
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Calibrate to Value</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="color: white;background-color: #6d6e71;font-size: 100px">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <table width="100%">
                                         <tr>
                                            <td width="50%">
                                                <input id="input_cal" type="text" class="ec_text" style="height: 100px;font-size:80px; width: 140px;" value="25">
                                                <span style="font-size: 80px">℃</span>
                                            </td>
                                            <td width="50%" align="right"><button id="cal_0" class="btn_setup" style="height: 40px; font-size: 40px">Enter</button></td>
                                         </tr>
                                     </table>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                    <div style="margin: 3% auto; width: 95%;">
                         <div class="widget widget-nopad">
                             <div class="widget-header">
                                 <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                                 <h3>Reset Calibration</h3><i class="fa fa-minus"></i>
                             </div>
                             <!-- /widget-header -->
                             <div class="widget-content" style="background-color: #6d6e71">
                                 <div style="margin: 5% auto; width: 95%;">
                                     <h2 style="color: black;"> Pressing this button will remove all saved calibration</h2>
                                     <br>
                                     <button id="btn_cal_clear" class="btn_setup">Reset</button>
                                 </div>
                             </div>
                             <!-- /widget-content -->
                         </div>
                    </div>
                </td>

            </tr>

        </table>
    </div>

    <button id="btn_back" class="btn_setup" style="position: fixed; right: 10px;bottom: 10px; width: 100px; height: 50px; font-size: xx-large">Exit</button>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/base.js" %}"></script>
<script src="{% static "js/Chart.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dashboard.js" %}"></script>
<script src="{% static "js/jquery-asProgress.js" %}"></script>
<script src="{% static "js/jquery-min.js" %}"></script>
<script src="{% static "js/pickerjs.js" %}"></script>
<script src="{% static "js/jquery-1.12.0.min.js" %}"></script>


<!--[if lte IE 8]>
    <script src="{% static "js/excanvas.js" %}"></script>
<![endif]-->

<script type="text/javascript">
$(document).ready(function() {

    var dev_id = '{{ dev_id }}';

    $('#btn_back').click(function() {
        window.open('../..//main', '_self');
    });
    $('#cal_0').click(function() {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__cal__val-' + $('#input_cal').val();
            $.get(url, function (data) {
                if (data == true){
                    alert('Calibration done.');
                }
                else{
                    alert('Calibration failed. Please try again later.');
                }
            }, "json");
    });

    $('#btn_cal_clear').click(function() {
        if (confirm('Would you like to reset calibration?')) {
            var url = '../../info/setvalue/dev_id-' + dev_id + '__cal_clear';
            $.get(url, function (data) {
                if (data == true) {
                    alert('Calibration done.');
                }
                else {
                    alert('Calibration failed. Please try again later.');
                }
            }, "json");
        }
    });

});


$(function() {
    window.setInterval('dashboard.getLastValue("{{ dev_id }}")', {{ time_refresh_net }});
});

$(function pageLoad() {
    dashboard.getLastValue('{{ dev_id }}');
});


</script>

</body>
</html>
